/**
 * Container styles
 * Loads on front end and back end
 */

.kd-block-container-bg {
	margin: 0;
	position: relative;
	padding: 0;
	background-size: cover;

	.kd-container-inside {
		position: relative;

		& > *:not(.kd-container-image-wrap img.kd-container-image) {
			filter: brightness(100%);
		}
	}

	&.alignfull {
		.editor-block-list__block {
			max-width: 100%;
		}
	}

	&.alignfull .kd-container-inside,
	&.alignfull .kd-container-inside {
		@media only screen and (min-width: 768px) {
			max-width: 100%;
			margin: 0 auto;
		}
	}

	&.alignwide .kd-container-inside,
	&.alignwide .kd-container-inside {
		@media only screen and (min-width: 768px) {
			max-width: 80%;
			margin: 0 auto;
		}
	}

	.kd-container-image-wrap {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		z-index: 0;
	}

	.kd-container-content {
		margin: 0 auto;
		position: relative;
	}
}
