/**
 * Accordion styles
 * Loads on front end and back end
 */

.kd-block-accordion {
	//margin-bottom: 1.2em;

	.kd-accordion-title {
		background: #1c1d1d;
		color: #fff;
		padding: 10px 15px;

		p {
			display: inline;
		}
	}

	.kd-accordion-text {
		padding: 10px 15px;

		a {
			color: inherit;
			box-shadow: 0 -1px 0 inset;
			text-decoration: none;

			&:hover {
				color: inherit;
				box-shadow: 0 -2px 0 inset;
			}
		}
	}

	a {
		color: inherit;
		box-shadow: 0 -1px 0 inset;
		text-decoration: none;

		&:hover {
			color: inherit;
			box-shadow: 0 -2px 0 inset;
		}
	}

	.editor-rich-text .editor-rich-text__inline-toolbar {
		display: block;
		left: 40%;
	}
}

.kd-block-accordion + .kd-block-accordion {
	margin-top: -0.6em;
}
